
.art-container{
    max-width: 100%;
    display: grid;
    gap: 0.5rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(2, minmax(10rem, 1fr));
}

@media only screen and (max-width: 600px) {
    .art-container{
        grid-template-columns: repeat(1, minmax(10rem, 1fr));
    }
}

.art-container > img {
    width: 100%;
    height: auto;
}