.art-container{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.art-container > img{
    width: 48%;
    display: inline-block;
    height: 100%;
    border-radius: 2.5%;
    border-style:ridge;
    border-width: 0.2rem;
    border-color: var(--primary-color);
}