.page-title {
    font-size: 3rem;
    color: var(--primary-color);
}

.sub-title{
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 5rem;
}

.sub-text{
    font-size: 1.3rem;
}

.content-button{
    display: block;
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--primary-double);
    color: var(--secondary-color);
    border: none;
    font-size: 1rem;
}

.content-button:hover{
    background-color: var(--primary-color);
    cursor: pointer;
}

.collapsible-content{
    background-color: rgba(0, 0, 0,0.1);
}