/* TitleFont */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
/* NavFont */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/* DefaultFont */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
    --primary-color: #FFC996;
    --backdrop-color: #583D72;
   /* --secondary-color: #9F5F80;*/
    --secondary-color: #583D72;
    /*--primary-double: #FF8474;*/
    --primary-double: #ffeae2;
    --tertiary-color: #271b35;
}

.title-font{
    /*
    font-family: 'Rubik Bubbles', cursive;
    */
    font-family: "Lucida Console", "Courier New", monospace;
}

.nav-font{
    /* Everything is sad now :(
    font-family: 'Permanent Marker', cursive;
    */
    font-family: "Lucida Console", "Courier New", monospace;
}

.default-font{
    /* it looked so good tho :(
    font-family: 'Indie Flower', cursive;
    */
    font-family: "Lucida Console", "Courier New", monospace;
}

body {
    background-color: var(--backdrop-color);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body{
    padding: 3rem;
    flex: 1;
}

.text-center{
    text-align: center;
    display: block;
}

.text-left{
    text-align: left;
    display: block;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.fixed-center{
    left: 50%;
    transform: translate(-50%, -50%);
}

nav.navbar{
    background-color: var(--primary-color);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    top: 1.5rem;
    position: absolute;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 95%;
    display: flex;
    justify-content: left;
    right: 0;
}

nav.navbar li {
    display: inline-block;
    padding: 0.7rem;
}

nav.navbar li:hover {
    background-color: var(--primary-double);
    cursor: pointer;
}

nav.navbar ul{
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 100%;
    list-style-type: none;
    white-space: nowrap;
}

nav.navbar a{
    all:unset;
    display: block;
    text-align: center;
    color: var(--secondary-color);
    font-size: 1.5rem;
}

.collapsible-content:not(.active){
    display: none;
}

.collapsible-content{
    display: block;
}

.active{
    animation-duration: 2s;
    animation-name: to-ham;
    visibility: hidden;
}

footer{
    bottom: 0;
    margin: 0;
    margin-top: 2rem;
    background-image: linear-gradient(var(--primary-color),rgba(0,0,0,0));
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,0) 0%, var(--tertiary-color) 100%);
    width: 100%;
    height: 25vh;
    
}

@keyframes to-ham{
    from{
        visibility: visible;
        overflow: hidden;
        color: var(--primary-double);
        position: absolute;
    }
    75%{
        width: 5rem;
        height: 5rem;
    }
    to{
        right: 1rem;
        width: 5rem;
        height: 5rem;
        overflow: hidden;
        position: absolute;
        opacity: 0;
    }
}
