

:root {
    
    --primary-color: #fff3e8;
    --backdrop-color: #321e44;
    --secondary-color: #ab8fc5;
    --primary-double: #ffeae2;
    --tertiary-color: #271b35;
    
    --background-color: #0c0c0c;
    --main-color: #ee8de6;
    --highlight-color: #5bebf5;
}
/* fallback colors */

html{
    font-size: 16px;
}

.title-font{
    font-family: "Lucida Console", "Courier New", monospace;
}

.nav-font{
    font-family: "Lucida Console", "Courier New", monospace;
}

.default-font{
    font-family: "Lucida Console", "Courier New", monospace;
}

body {
    background-color: var(--background-color);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body{
    padding-top: 3rem;
    flex: 1;
    width: 100%;
}

.text-center{
    text-align: center;
    display: block;
}

.text-left{
    text-align: left;
    display: block;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.fixed-center{
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-button:hover{
    background-color: var(--highlight-color);
    cursor: pointer;
    animation: fbutton .25s 1;}
@keyframes fbutton {
    50%{margin-left: -1rem;}
    100%{}
}

/* Link Style Colors*/

a {
    color: var(--highlight-color);
  }
a:hover {
    color: var(--main-color);
  }
a:active {
    color: var(--main-color);
  }
a:visited {
    color: var(--highlight-color);
  }

nav.navbar{
    background-color: var(--main-color);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    top: 1.5rem;
    position: absolute;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 95%;
    display: flex;
    justify-content: left;
    right: 0;
}

nav.navbar li {
    display: inline-block;
    padding: 0.7rem;
}

nav.navbar li:hover {
    background-color: var(--highlight-color);
    cursor: pointer;
}

nav.navbar ul{
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 100%;
    list-style-type: none;
    white-space: nowrap;
}

nav.navbar a{
    all:unset;
    display: block;
    text-align: center;
    color: var(--background-color);
    font-size: 1.5rem;
}

nav.navbar a.active{
    text-decoration: underline 0.15rem;
    text-underline-offset: 0.7rem;
}

footer{
    bottom: 0;
    margin: 0;
    background: var(--background-color);
    background: linear-gradient(180deg, var(--background-color) 60%, var(--main-color) 100%);
    width: 100%;
    height: 30rem;
    
}

.page-title {
    font-size: 3rem;
    color: var(--main-color);
    margin-left: 6rem;
}

.sub-title{
    font-size: 2rem;
    color: var(--main-color);
    margin-bottom: 5rem;
    margin-left: 6rem;
}

.sub-text{
    font-size: 1.3rem;
    color: var(--main-color);
    margin-left: 2rem;
}

.content-button{
    all:unset;
    display: block;
    padding: 1rem;
    margin-top: 1.5rem;
    border-top-right-radius: 1rem;
    width: 50%;
    border-bottom-right-radius: 1rem;
    background-color: var(--main-color);
    color: var(--background-color);
    border: none;
    font-size: 1.5rem;
    text-align: right;
}

.content-button:hover{
    background-color: var(--highlight-color);
    cursor: pointer;
}

.collapsible-toggle:checked + .collapsible-content{
    display: block;
}

.collapsible-toggle{
    all:unset;
    width: 50%;
}

.collapsible-content{
    display: none;
    background-blend-mode: multiply;
    background-color: rgba(44, 44, 44, 0.055);
}

.color{
    color: var(--main-color);
}



@media screen and (max-width: 925px) {
    html{
        font-size: 12px;
    }
}

@media screen and (max-width: 675px) {
    html{
        font-size: 10px;
    }
    .page-title{
        margin-left: 2rem;
    }
    .page-title > h1 {
        text-align: left;
    }
    nav.navbar a{
        all:unset;
        display: block;
        text-align: center;
        color: var(--background-color);
        font-size: 15px;
    }
    nav.navbar{
        background-color: var(--main-color);
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        top: 1.5rem;
        position: absolute;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 91%;
        display: flex;
        justify-content: left;
        right: 0;
    }
}

@media screen and (max-width: 475px) {
    html{
        font-size: 9px;
    }
}

