
body {
    font-family: "Lucida Console", Monaco, monospace;
    background-image: url("/Images/image.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: right;
    background-position-y: bottom;
  
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.sidenav {
    background-color: rgb(27, 27, 27);
    width: 10rem; /* adjust as needed */
    display: flex;
    height: 100vh;
    padding-top: 1rem;
    position: fixed;

}
ul {
    font-size: 0.9rem;
    list-style-type: none;
    margin: 0.05rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #ffffff;
}

li a {
    display: block;
    color: #92a6ff;
    text-decoration: none;
    transition: font-style 0.1s ease-in-out;
}

li a::before {
    content: " / "; /* Add the desired character here */

    font-style: normal;

    color: #ffffff; /* Apply the desired color */
    /* Add any additional styling for the character */
}

/* Change the link color and add animation on hover */
li a:hover {
    color: white;
    font-style: italic;
    animation: hoverAnimation 0.1s ease-in-out;
}

@keyframes hoverAnimation {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(0.9);
    }
    100% {
        transform: scaleX(1);
    }
}

.container {
    display: flex;
}



hr {
    width: 7.7rem;
    border: none;
    border-top: 0.01rem dashed rgb(255, 255, 255);
    padding-top: 0.1rem;

    padding-bottom: 0.1rem;
}

details {
    color: #92a6ff;
}

details:hover {
    color: white;
    font-style: italic;
    animation: hoverAnimation 0.1s ease-in-out;
}

.mainbox0 {
    max-width: 40rem;
    margin: 3rem;
    background-color: rgba(27, 27, 27, 0.25);
    backdrop-filter: blur(5px);
    background-blend-mode: overlay;
    height: 55%;
    border-radius: 5px;
    overflow: auto;
}

.mainbox1 {
    max-width: 40rem;
    margin: 3rem;
    background-color: rgba(27, 27, 27, 0.25);
    backdrop-filter: blur(5px);
    background-blend-mode: overlay;
    height: 45%;
    border-radius: 5px;


}

.mainbox2 {
    max-width: 30rem;
    margin: 3rem;
    background-color: rgba(27, 27, 27, 0.25);
    backdrop-filter: blur(5px);
    background-blend-mode: overlay;
    height: 30rem;
    border-radius: 5px;


}
.mainbox3 {
    max-width: 30rem;
    margin: 3rem;
    background-color: rgba(27, 27, 27, 0.25);
    backdrop-filter: blur(5px);
    background-blend-mode: overlay;
    height: 16rem;
    border-radius: 5px;


}

.body-content {
    margin-left: 10rem;
    width: 100%;
}

.image1 {
    background-color: #f3f3f3;
   
    margin: 1rem;
    border-radius: 5px;
    margin-top: 3rem;
    border-width: 2px;
    border-style: dashed;
    border-color: rgba(27, 27, 27, 1);

}

.text1 {

    line-height: 1.2;

    margin-left: 20px;
    margin-right: 10px;
    word-wrap: break-word;


}

h2 {
    background-color: rgba(27, 27, 27, 1);
    color: #f3f3f3;
    border-radius: 2px;
    margin: 0.5rem;
    text-indent: 10px;
    

}
.empty {
    width: 100%; /* Adjust this value based on the number of columns in your grid */
}

.caption { 
    margin-top: -2%;
    margin-left: 10%;
    margin-right: 10%;
}

.gallery-grid {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    gap: 1rem;
 
}

.gallery-grid > img {
    margin-top: 1rem;
    width: 48%;
    display: inline-block;
    height: 100%;
    border-width: 2px;
    border-style: dashed;
    border-color: rgba(27, 27, 27, 1);

}

.artbox1 {
    max-width: 95%;
    margin: 1rem;
    background-color: rgba(27, 27, 27, 0.4);
    backdrop-filter: blur(5px);
    background-blend-mode: overlay;
    height: 100%;
    border-radius: 5px;


}


