body {
  font-family: Lucida Console, sans-serif, monospace;
}
body {
  color: #14004b;
}
html{

  min-height: 100%;

  background: linear-gradient(0deg, rgba(230,57,70,1) 0%,
   rgba(230,100,100,1) 5%, rgba(252,150,152,1) 10%,
    rgba(252,200,200,1) 15%, rgba(242,235,235,1) 20%,
     rgba(252,239,239,1) 25%, rgba(252,252,252,1) 100%);
  

}