body {
  font-family: Lucida Console, sans-serif, monospace;
}
body {
  color: #14004b;
}
html{

  min-height: 100%;

  background: linear-gradient(0deg, rgba(230,57,70,1) 0%,
   rgba(230,100,100,1) 5%, rgba(252,150,152,1) 10%,
    rgba(252,200,200,1) 15%, rgba(242,235,235,1) 20%,
     rgba(252,239,239,1) 25%, rgba(252,252,252,1) 100%);
  

}
ul {
  list-style-type: none;
  margin-top: 12px;
  margin-left: 8px;
  padding: 0px;
  overflow: hidden;
  background-color: rgba(6, 20, 39, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
        }
        li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #1d35579a
}